<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>        
        <ul>
            <% categories.forEach(categories => { %>                
                <li>
                    <a href="/category/<%= categories.category_id%>"><%= categories.category_name %></a>
                </li>   
            <% }); %>
        </ul>
    </main>

<%- include('partials/footer') %>